<div class="container">
  <div class="setup">
    <div class="timers">
      <div class="item">
        <span class="title">Series</span>
        <app-timer [timer]="runningSeriesFormated || seriesFormated"
                   [small]="true"
                   [withH]="false"
                   [withMs]="false"
                   [withArrows]="withArrows"></app-timer>
      </div>
      <div class="item">
        <span class="title">Reps</span>
        <input [(ngModel)]="series"
               class="reps"
               type="number">
      </div>
      <div class="item">
        <span class="title">Pauses</span>
        <app-timer [timer]="runningPausesFormated ||  pausesFormated"
                   [small]="true"
                   [withH]="false"
                   [withMs]="false"
                   [withArrows]="withArrows"></app-timer>
      </div>
    </div>
  </div>

  <div class="series">
    <div [style.width.%]="currentWidth"
         class="cursor">
    </div>

    <ng-container *ngFor="let i of seriesArray; let last = last">
      <div class="serie"
           [style.width.%]="seriesWidth"></div>

      <div *ngIf="!last"
           [style.width.%]="pausesWidth"
           class="pause">
      </div>
    </ng-container>
  </div>

  <div class="buttons">
    <div (click)="togglePause()"
         class="button">
      <span *ngIf="isStart">Start</span>
      <span *ngIf="!isStart && !isPaused">Pause</span>
      <span *ngIf="!isStart && isPaused">Continue</span>
    </div>
    <div (click)="clear()"
         class="button">
      <span>Clear</span>
    </div>
  </div>
</div>
