<div class="navbar">
  <div class="header"
       routerLink="countdown"
       routerLinkActive
       #countdown="routerLinkActive">
    <span>Countdown</span>
    <div class="border" [class.active]="countdown.isActive"></div>
  </div>
  <div class="header"
       routerLink="chronometer"
       routerLinkActive
       #chrono="routerLinkActive">
    <span>Chrono</span>
    <div class="border" [class.active]="chrono.isActive"></div>
  </div>
  <div class="header"
       routerLink="pyramid"
       routerLinkActive
       #pyramid="routerLinkActive">
    <span>Pyramid</span>
    <div class="border" [class.active]="pyramid.isActive"></div>
  </div>
</div>
