<div class="container">
  <ng-container *ngIf="!isTimeUp; else timeUp">
    <app-timer  [timerParts]="timerParts"
                [isPaused]="isPaused"
                [isStart]="isStart"
                (onTimerChange)="updateInitialTimer()">
    </app-timer>

    <action-buttons [isPaused]="isPaused"
                    [isStart]="isStart"
                    (onTogglePause)="togglePause()"
                    (onClear)="clear()">
    </action-buttons>
  </ng-container>
</div>

<ng-template #timeUp>
  <div class="time-is-up">
    <span>Time's UP !</span>
  </div>
</ng-template>
