@import '../../styles';

@keyframes timeIsUp {
  from { transform: scale(1); }
  to { transform: scale(1.25); }
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .time-is-up {
    margin-top: 100px;
    animation: timeIsUp 0.5s ease-in-out infinite;

    span {
      color: $color-pale;
      font-family: $font-family;
      font-size: 150px;
    }
  }
}
