<div class="timer"
     [class.small]="small">
  <ng-container *ngIf="withH">
    <div class="entity">
      <span class="title">Hours</span>
      <div *ngIf="withArrows"
           (click)= "onArrowClick('up', 'h')"
           class="arrow-up"></div>
      <div class="value"
           [class.small]="small">
        {{ timer?.h }}
      </div>
      <div *ngIf="withArrows"
           (click)= "onArrowClick('down', 'h')"
           class="arrow-down"></div>
    </div>
    <span *ngIf="withM || withS || withMs"
          [class.small]="small"
          class="separator">:</span>
  </ng-container>

  <ng-container *ngIf="withM">
    <div class="entity">
      <span class="title">Minutes</span>
      <div *ngIf="withArrows"
           (click)= "onArrowClick('up', 'm')"
           class="arrow-up"></div>
      <div class="value"
           [class.small]="small">
        {{ timer?.m }}
      </div>
      <div *ngIf="withArrows"
           (click)= "onArrowClick('down', 'm')"
           class="arrow-down"></div>
    </div>
    <span *ngIf="withS || withMs"
          [class.small]="small"
          class="separator">:</span>
  </ng-container>

  <ng-container *ngIf="withS">
    <div class="entity">
      <span class="title">Seconds</span>
      <div *ngIf="withArrows"
           (click)= "onArrowClick('up', 's')"
           class="arrow-up"></div>
      <div class="value"
           [class.small]="small">
        {{ timer?.s }}
      </div>
      <div *ngIf="withArrows"
           (click)= "onArrowClick('down', 's')"
           class="arrow-down"></div>
    </div>
    <span *ngIf="withMs"
          [class.small]="small"
          class="separator">:</span>
  </ng-container>

  <ng-container *ngIf="withMs">
    <div class="entity">
      <span class="title">Milliseconds</span>
      <div *ngIf="withArrows"
           (click)= "onArrowClick('up', 'ms')"
           class="arrow-up"></div>
      <div class="value"
           [class.small]="small">
        {{ timer?.ms }}
      </div>
      <div *ngIf="withArrows"
           (click)= "onArrowClick('down', 'ms')"
           class="arrow-down"></div>
    </div>
  </ng-container>
</div>
