@import '../../styles';

@keyframes scaleAnim {
  from { transform: scale(1); }
  to { transform: scale(1.1); }
}

@keyframes opacityAnim {
  from { opacity: 1; }
  to { opacity: 0; }
}

.container {
  display: flex;
  flex-direction: row;
}

.part-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;

  .header {
    font-family: $font-family;
    color: $color-pale;
    font-size: 1rem;
    flex: 0 0 auto;
  }

  .value {
    font-family: $font-family;
    color: $color-pale;
    font-size: 10rem;
    flex: 0 0 auto;
    cursor: default;

    &.sizeUp:hover {
      animation: scaleAnim 0.15s forwards;
    }
  }
}

.separator {
  display: flex;
  align-items: center;
  font-family: $font-family;
  color: $color-pale;
  font-size: 10rem;

  &.breathe {
    animation: opacityAnim 0.8s infinite ease-in-out;
  }
}
