<div class="container">
  <ng-container *ngFor="let timerPart of timerParts">
    <ng-container *ngIf="!timerPart.hide"
                  [ngTemplateOutlet]="partTemplate"
                  [ngTemplateOutletContext]="{ $implicit: timerPart, last: isLastToShow(timerPart) }">
    </ng-container>
  </ng-container>
</div>

<ng-template #partTemplate let-timerPart let-last="last">
  <div class="part-container">
    <div class="header">
      {{ timerPart.header }}
    </div>
    <div class="value"
         [class.sizeUp]="isPaused && timerPart.isEditable"
         (mousewheel)="onMouseWheel(timerPart, $event)">
      {{ timerPart.value }}
    </div>
  </div>
  <div *ngIf="!last"
       class="separator"
       [class.breathe]="!isStart && isPaused">:</div>
</ng-template>
