$font-family: droid;
$color-pale: #DCDCDC;
$color-red: #dc524d;
$color-dark: #223645;
$color-darker: #192933;

$grid-breakpoints: (
        phone: 0,
        tablet: 784px,
        desktop: 1168px,
);
$phone: '(max-width: #{map_get($grid-breakpoints, tablet) - 1})';
$desktop: '(min-width: #{map_get($grid-breakpoints, desktop)})';
